<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %} – condor</title>
<link rel="stylesheet" href="{{ request.static_url('condor:static/style.css') }}">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
